.text-red {
  color: red;
}

.btn {
  /* margin-bottom: 2em; */
  width: 7em;
  height: 3em;
  text-align: center;
}

.btn-container {
  height: 50vh;
  display: flex;
  place-content: center;
  place-items: center; 
}

.text-center {
  text-align: center;
}

.container {
  border: 6px solid black;
  display: grid;
  margin: 0 3em 2em;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 100px 150px 200px; */
  /* height: 400px; */
  /* 
    justify for main axis positioning
    align for cross axis positioning
    place for assigning both at once (align first then justify)
   */
  /* justify-items: center; 
  align-items: center; */
  /* place-items: start center; */
  place-content: center space-between; /* align-items: center; justify-content: space-between */
  gap: 30px;
}

.grid-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.item-1 {
  background-color: #b4bf35;
}
.item-2 {
  background-color: #b95f21;
}
.item-3 {
  background-color: #1c4c56;
}
.item-4 {
  background-color: #cfb276;
}
.item-5 {
  background-color: #6b0803;
}
.item-6 {
  background-color: #cfb276;
}
.item-7 {
  background-color: #b95f21;
}
.item-8 {
  background-color: #01243a;
}
.item-9 {
  background-color: #aad041;
  grid-column-start: 1;
  grid-column-end: span 2;
}

@media screen and (min-width: 30em) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .item-9 {
    background-color: #aad041;
    grid-column-start: 3;
    grid-column-end: span 1;
  }
}

.j-desc {
  display: flex;
  place-items: start;
  gap: 1em;
}

.j-desc__details {
  display: flex;
  flex-direction: column;
}

.j-desc__job-title {
  margin: 0;
}

.j-desc__company {
  margin: 0;
}

.j-desc__metadata {
  list-style: none;
  padding: 0;
}